.SellItem {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.SellItem table {
  margin-top: 40px;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
.SellItem th {
  background-color: #131a35;
  background-color: #cfcfcf;
  padding: 15px 0;
  color: #131a35;
  border-left: 1px solid #e2e2e2;
}
.SellItem td {
  padding: 15px 0;
  color: #131a35;
  text-transform: capitalize;
  border-left: 1px solid #cfcfcf;
  border-bottom: 1px solid #cfcfcf;
}
.SellItem td:last-child {
  border-right: 1px solid #cfcfcf;
}
.SellItem > table > thead > tr > td > input {
  width: 70%;
  height: 35px;
  background-color: #e2e2e2;
  border: 1px solid #b8b8b8;
  padding: 5px 3px;
  border-radius: 2px;
  font-size: 17px;
}
.SellItem > table > thead > tr > td > input:focus {
  outline: 1px solid #8f8f8f;
  border-radius: 2px;
}
.SellItem > .buttonsDiv {
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
.SellItem > .buttonsDiv > button {
  padding: 10px 40px;
  border: none;
  border-radius: 3px;
  color: #e2e2e2;
  cursor: pointer;
}
.SellItem > .buttonsDiv > button:hover {
  opacity: 0.7;
}
.SellItem > .buttonsDiv > button:first-child {
  background-color: green;
}
.SellItem > .buttonsDiv > button:last-child {
  background-color: red;
  margin-left: 30px;
}
